streamlit
streamlit-extras
python-dotenv
pypdf2
langchain
sentence-transformers
faiss-cpu
chromadb
openpyxl
pandas
wordcloud
matplotlib
altair
requests
time
streamlit-lottie
PIL
plotly
folium
streamlit_folium
st_pages
langchain-community
